body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: 'Cabin', sans-serif;
}

table {
  border: 1px solid black;
  background-color: black;
}

td {
  height: 50px;
  width: 50px;
}

button {
  background-color: white;
  border: 1px solid white;
  padding: 2%;
  margin: 2%;
  border-radius: 5px;
}

form {
  display: flex;
  flex: 2;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: column;
}

.background {
  background-color: black;
}
.node {
  background-image: url(./assets/icons/grass.png);
  background-size: cover;
}

.start-node {
  background-image: url(./assets/icons/squirrel.png);
  background-size: cover;
}

.end-node {
  background-image: url(./assets/icons/acorn.png);
  background-size: cover;
}

.node-wall {
  background-image: url(./assets/icons/tree.png);
  background-size: cover;
}

.node-weight {
  background-image: url(./assets/icons/stump.png);
  background-size: cover;
}

.node-weight-path {
  background-image: url(./assets/icons/stump-path.png);
  background-size: cover;
}

.node-visited-path {
  background-image: url(./assets/icons/visited-stump.png);
  background-size: cover;
}

.star {
  background-image: url(./assets/icons/start.png);
  background-size: cover;
}

.finish-line {
  background-image: url(./assets/icons/finish.svg);
  background-size: cover;
}

.visited-node {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    /* transform: scale(0.3); */
    background-image: url(./assets/icons/squirrel.png);
    background-size: cover;
    border-radius: 100%;
  }

  50% {
    transform: scale(0.8);
    background-image: url(./assets/icons/dark-grass.png);
    background-size: cover;
  }

  75% {
    background-image: url(./assets/icons/dark-grass.png);
    background-size: cover;
  }

  100% {
    transform: scale(1);
    background-image: url(./assets/icons/dark-grass.png);
    background-size: cover;
  }
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-image: url(./assets/icons/dirt.png);
    background-size: cover;
  }

  50% {
    transform: scale(1.2);
    background-image: url(./assets/icons/dirt.png);
    background-size: cover;
  }

  100% {
    transform: scale(1);
    background-image: url(./assets/icons/dirt.png);
    background-size: cover;
  }
}
